.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 90vh;
  padding: 0px 15px;
}

.corpo-tabela {
  width: 100%;
  height: 70vh;
  padding: 15px;
  border-radius: 10px;
  overflow: auto;
  background: #cbd9dd;
}

.tabela-produtos {
  width: 100%;
}

.tabela-produtos th {
  background: #fff;
  padding: 5px 10px;
  color: #444343;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.125em;
  position: sticky;
  top: 0;
}

.tabela-produtos td {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 50px;
  text-align: center;
}

#link,
#descricao {
  word-break: break-all;
  text-align: start;
}
.funcao {
  width: 5%;
}

#editar {
  width: 100%;
  height: 40px;
  background: #7ed321;
}
#deletar {
  padding: 0px;
  font-size: 10px;
  width: 100%;
  height: 40px;
  background: #dc494a;
  text-transform: uppercase;
}

.adicionar-btn {
  margin-top: 15px;
}
