.modal-background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  animation: aparecer 0.5s;
}

.modal-produto {
  position: relative;
  margin: 0 auto;
  width: 40%;
  height: 50%;
  background: #cbd9dd;
  padding: 15px;
  border: 3px solid #014e66;
  border-radius: 10px;
}

@media screen and (max-width: 1366px) {
  .modal-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 80%;
  }
}

@media screen and (max-width: 560px) {
  .modal-produto {
    width: 100%;
    height: 100%;
  }
}
.modal-produto h1 {
  text-align: center;
}

.fechar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.valor,
.nome,
.imagem,
.descricao {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.descricao {
  width: 100%;
  height: 100px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin-top: 25px;
  width: 80%;
  height: 50px;
  font-size: 1.25em;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
