@import url("https://fonts.googleapis.com/css?family=Lemonada|Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background: #ffff;
  font-family: "Poppins", sans-serif;
  color: #014e66;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
}
button {
  padding: 5px 10px;
  background: #014e66;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.875em;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #444343;
}

button:active {
  background: #999;
}

input,
textarea {
  border: 2px solid #444343;
  border-radius: 5px;
  font-size: 0.875em;
  font-style: italic;
  padding: 5px 10px;
  transition: all 0.2s ease-out;
  background: #ebebeb;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 2px #ddd, 0px 0px 0px 5px #444343,
    0px 0px 10px #252525;
  transform: scale(1.02);
  background: #fff;
}

label {
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: underline;
}

textarea {
  resize: none;
  font-size: 1.225em;
}
